* {
    user-select: none;
}

html,
body {
    margin: 0;
    padding: 0;

    width: 100%;
    height: 100%;

    overflow: hidden;

    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #f1f1f1;

    background-color: #333;
}

/* Wrapper */

.wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
}

.wrapper h1 {
    font-size: 3em;
    margin: 1vh;
}

/* Pretty stuff */

.panel {
    background-color: #EEEEEE;
    border-radius: 2px;
}

.header {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #F44336;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
}

.options {
    display: flex;
}

.header ruby {
    display: flex;
    flex-direction: column-reverse;
    font-size: 1.4rem;
}

.header input {
    border: 0;
    outline: 0;
    color: #282828;
    background-color: #f1f1f1;
    margin: 0 1vh;
    padding: 0.3rem;
    height: 100%;
    max-width: 50px;
}

.header h1 {
    flex: 1;
    margin: 0;
}

/* Minesweeper */

#gamespace {
    border: solid 10px;
    border-top: 0;
    border-image: url('../images/wall.png') 10 repeat;

    display: flex;
    flex-direction: column;

    z-index: 0;
}


#gamespace div div {
    height: 16px;
    width: 16px;
}

#panel {
    display: flex;
    justify-content: space-around;
    align-items: center;

    padding: 0.25vh 0 0.25vh 0;
    border: solid 10px;
    border-image: url('../images/wall2.png') 10 repeat;
}

#time div {
    display: inline-flex;
    float: left;
}

#flags div {
    display: inline-flex;
    float: left;
}

.game {
    margin: 3vh;

    display: flex;
    flex-direction: column;
}

#state {
    height: 26px;
}

#face {
    background: url('../images/background.png') 0 -55px no-repeat;
    background-size: auto;
    width: 26px;
    height: 26px;
}

[time] {
    background: url('../images/background.png') 0 -55px no-repeat;
    background-size: auto;
    width: 13px;
    height: 23px;
}

.face_down {
    background-position: -26px -55px !important;
}

.faceOoo {
    background-position: -52px -55px !important;
}

.faceWin {
    background-position: -104px -55px !important;
}

.faceLoss {
    background-position: -78px -55px !important;
}

.faceUp {
    background-position: 0 -55px !important;
}

.tile {
    background: url('../images/background.png');
    background-size: auto;
    background-repeat: no-repeat;
    background-position: 0 -39px !important;
}

.flag {
    background: url('../images/background.png');
    background-size: auto;
    background-repeat: no-repeat;
    background-position: -16px -39px !important;
}

.tile_down {
    background-position: 0 -23px !important;
}

[nearby='none'] {
    background-position: 0 -23px !important;
}

[nearby='1'] {
    background-position: -16px -23px !important;
}

[nearby='2'] {
    background-position: -32px -23px !important;
}

[nearby='3'] {
    background-position: -48px -23px !important;
}

[nearby='4'] {
    background-position: -64px -23px !important;
}

[nearby='5'] {
    background-position: -80px -23px !important;
}

[nearby='6'] {
    background-position: -96px -23px !important;
}

[nearby='7'] {
    background-position: -110px -23px !important;
}

[nearby='8'] {
    background-position: -126px -23px !important;
}

[time='-'] {
    background-position: -130px 0 !important;
}

[time='0'] {
    background-position: 0 0 !important;
}

[time='1'] {
    background-position: -13px 0 !important;
}

[time='2'] {
    background-position: -26px 0 !important;
}

[time='3'] {
    background-position: -39px 0 !important;
}

[time='4'] {
    background-position: -52px 0 !important;
}

[time='5'] {
    background-position: -65px 0 !important;
}

[time='6'] {
    background-position: -78px 0 !important;
}

[time='7'] {
    background-position: -91px 0 !important;
}

[time='8'] {
    background-position: -104px 0 !important;
}

[time='9'] {
    background-position: -117px 0 !important;
}

.row {
    display: flex;
    flex-direction: row;
    height: 16px;

    z-index: 1;
}

.display {
}

.nearby {
}

.bomb-reveal-red {
    background: url('../images/background.png');
    background-size: auto;
    background-repeat: no-repeat;
    background-position: -32px -39px !important;
}

.bomb-reveal {
    background: url('../images/background.png');
    background-size: auto;
    background-repeat: no-repeat;
    background-position: -64px -39px !important;
}